
.aboutmodule {
    width: 100%;
    background-color: transparent;
}

.aboutwrapper {
display: flex;
flex-direction: row;

height: auto;
}

.aboutmodule {
flex-direction: column;
display: flex;

}

.blurb {
width: 65%;
display: flex;
justify-content: center;
flex-direction: column;
text-align: center;
height: 70vh;
align-items: center;
font-family: "Quicksand", sans-serif;
color: black;
padding: 3rem;
background-color:rgba(238, 174, 63, 0.71);
margin-right: 1rem;
border-radius: 20px;
}


.skills {
width: 45%;
display: flex;
justify-content: center;
font-family: "Quicksand", sans-serif;
color: black;
text-align: center;
height: 70vh;
align-items: center;
padding:2rem;
border-radius: 20px;
background-color: rgba(105, 187, 219, 0.71)
}
