@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Satisfy&display=swap');

.container {
  display: flex;
  width: 100vw;
  height: auto;
}

.rightsidehome {
  height: 100vh;
  width: 45vw;
  display: flex;
  align-items: center;
  z-index: 0;
}

.leftsidehome {
  height: 100vh;
  width: 55vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.homeimg {
  margin-left: 15%;
  position: absolute;
  right: 12%;
  height: 52%;
  width: 23%;
  z-index: 4;
  transition-delay: 5s;
}

.imgshadowteal {
  position: relative;
  z-index: 100;
  transform: rotate(15deg);
  margin-left: 15%;
  background-color: #2093a5;
  opacity: 50%;
  position: absolute;
  height: 52%;
  width: 23%;
  right: 12%;
  z-index: 3;

}
.imgshadowteal:hover {
  transform: rotate(0deg);
}

.imgshadoworange {
  position: relative;
  z-index: 100;
  transform: rotate(30deg);
  margin-left: 15%;
  background-color: orange;
  opacity: 50%;
  position: absolute;
  height: 52%;
  width: 23%;
  right: 12%;
  z-index: 2;
 
}


.imgshadowpink {
  position: relative;
  z-index: 100;
  transform: rotate(45deg);
  margin-left: 15%;
  background-color: pink;
  opacity: 50%;
  position: absolute;
  height: 52%;
  width: 23%;
  right: 12%;
  z-index: 1;

}

.leftsidehome p {
  flex-direction: row;
  position: absolute;
  text-align: center;
  top: 35%;
  margin-left: 10%;
}
.leftsidehome h1 {
  font-size: 110px;
  font-family: "Satisfy", sans-serif;
  width: 130%;
  text-align: center;
  text-align: left;
}

.leftsidehome h1:hover {
  font-style: italic;
}

.leftsidehome h3 {
  margin-top: -1rem;
  font-size: 40px;
  font-family: "Quicksand", sans-serif;
  font-style: italic;
  width: 80%;
  text-align: left;
}

.homebtns {
  width: 100%;
  text-align: left;
  margin-top: 1rem;
  display: flex;
}

.modal {
  background-color: transparent;
  border-radius: 10px;
  width: 55%;
  height: 80%;
  position: relative;
  top: 10%;
  left: 22%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 3rem;
}

.modalpositioning {
  display: flex;
  justify-content: center;
  align-items: center;
}


