@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");


.container {
display: flex;
    width: 100vw;
    height: auto; 
 
}


.rightsidehome {
    flex-direction: column;
    height: 100vh;
    width: 55vw;
    display: flex; 
    justify-content: flex-start;
    align-items: center;
    position: relative;
  
  
}

.leftsidehome {
    height: 100vh;
    width: 45vw;
    display: flex; 
    justify-content: flex-start;
    align-items: center;
    
}

.homeimg {
    /* transform: rotate(5deg); */
    margin-left: 15%;
    position:absolute; 
    z-index:50;
    right: 12%
}

.imgshadowteal {
    position: relative;
    z-index: 100;
    transform: rotate(15deg);
    margin-left: 15%;
    background-color:#2093A5; 
    opacity: 50%;
    position: absolute;
    height: 57%;
    width: 25%;
     z-index:50;
     right: 12%
}

.imgshadoworange {
    position: relative;
    z-index: 100;
    transform: rotate(30deg);
    margin-left: 15%;
    background-color: orange; 
    opacity: 50%;
    position: absolute;
    height: 57%;
    width: 25%;
     z-index:49;
     right: 12%
}

.imgshadowpink {
    position: relative;
    z-index: 100;
    transform: rotate(45deg);
    margin-left: 15%;
    background-color: pink; 
    opacity: 50%;
    position: absolute;
    height: 57%;
    width: 25%;
     z-index:48;
     right: 12%
}

.rightsidehome p {
    flex-direction: row;
    position: absolute;
    text-align: center;
    top: 35%;
    margin-left: 10%
}
.rightsidehome h1{
   font-size: 70px;
   font-family: "Quicksand", sans-serif;
   /* background-color: #2093A5; */
   width:110%;
   text-align: center;
   text-align: left;
   /* padding-left: 1rem; */
  
}

.rightsidehome h3{
    font-size: 40px;
    font-family: "Quicksand", sans-serif;
    font-style: italic;
    /* background-color:orange; */
    width: 80%;
    text-align: left;
    /* padding-left: 1rem; */
 }

.homebtns {
    width: 100%;
    text-align: left;
    margin-top: 1rem;
}